APP_NAME=
DEBUG=
DATABASE_URL=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=