# =====================
# Python (FastAPI)
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
structure.md
**/DOCUMENTATION.md
WORKFLOW.md

# =====================
# Node / Next.js
# =====================
node_modules/
.next/
out/
.env.local
.env

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/